/.idea/deployment.xml
/.idea/Joomill-Styling.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/copyright/profiles_settings.xml
/.idea/vcs.xml
/.idea/copyright/Joomill.xml
/.idea/php.xml
/Joomill-Styling.zip
